/* Based on rijdendetreinen.nl
https://www.rijdendetreinen.nl/vertrektijden/station/amersfoort-centraal?style=tb
Rijden de Treinen */

body {
    color: #009;
    background-color: #fff;
    font-family: Verdana, Tahoma, sans-serif;
    margin: 0;
}

h1 {
    display: none;
}

#departures-header.style-tb {
    float: right;
    font-family: Verdana, Tahoma, sans-serif;
    height: 20px;
    background: #009;
    color: #fff;
    font-size: 12px;
}

#departures-header.style-tb .clock,
#departures-header.style-tb .station {
    padding: 1px 2px;
    display: inline-block;
    letter-spacing: 0.5px;
}

#departures-header.style-tb .clock img {
    height: 10px;
    padding-right: 5px;
    vertical-align: baseline;
}

#departures-main.style-tb {
    margin-bottom: 20px;
}

#departures-main.style-tb #departures-header-row,
#departures-main.style-tb .row {
    padding: 0 5px 0 5px;
}

#departures-main.style-tb .column {
    display: inline-block;
    vertical-align: top;
}

#departures-main.style-tb .column.time {
    min-width: 45px;
    text-align: left;
}

#departures-main.style-tb .column.destination {
    width: 45%;
}

#departures-main.style-tb .column.platform {
    min-width: 40px;
}

#departures-main.style-tb .column.train {
    min-width: 60px;
}

#departures-main.style-tb .column.material {
    display: block;
    margin-left: 15px;
}

#departures-main.style-tb #departures-header-row {
    padding-left: 20px;
    background-color: #d5e5ff;
    color: #009;
    font-size: 8px;
    height: 20px;
}

#departures-main.style-tb #departures-header-row .column {
    padding-top: 3px;
}

#departures-main.style-tb .row {
    color: #009;
    padding-top: 8px;
    min-height: 20px;
}

#departures-main.style-tb .row:nth-child(even) {
    background-color: #fff;
}

#departures-main.style-tb .row:nth-child(odd) {
    background-color: #d5e5ff;
}

#departures-main.style-tb .row.cancelled {
    color: #9090dd;
}

#departures-main.style-tb .row .departure-time,
#departures-main.style-tb .row .actual-destination {
    font-size: 18px;
    font-family: Verdana, Tahoma, sans-serif;
}

#departures-main.style-tb .row .actual-destination,
#departures-main.style-tb .row .original-destination {
    display: inline-block;
}

#departures-main.style-tb .row .original-destination {
    font-size: 22px;
    color: #9090dd;
    text-decoration: line-through;
}

#departures-main.style-tb .row .train-id {
    font-size: 14px;
}

#departures-main.style-tb .row .platform-indicator {
    font-size: 22px;
    border: 2px solid #009;
    background: #fff;
    position: relative;
    text-align: center;
    height: 30px;
    width: 30px;
    line-height: 30px;
}

#departures-main.style-tb .row .platform-indicator:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: 4px solid #009;
    border-left: 4px solid #009;
    width: 0;
}

#departures-main.style-tb .row .platform-indicator.platform-changed {
    color: #d50000;
    border-color: #d50000;
}

#departures-main.style-tb .row .platform-indicator.platform-changed:before {
    border-color: #d50000;
}


#departures-main.style-tb .row .remarks,
#departures-main.style-tb .row .delay {
    background-color: #009;
    color: #fff;
    padding: 6px;
    margin-left: -6px;
}

#departures-main.style-tb .row .tips,
#departures-main.style-tb .row .via {
    padding: 6px 0;
}


#departures-main.style-tb .row .remarks,
#departures-main.style-tb .row .delay,
#departures-main.style-tb .row .tips,
#departures-main.style-tb .row .via {
    margin-top: 4px;
    font-size: 12px;
    margin-bottom: 4px;
}

#departures-main.style-tb .row .material {
    font-size: 20px;
    height: 30px;
    line-height: 40px;
}

#departures-main.style-tb .row .departure-time .both .countdown {
    font-size: 16px;
}
